body{
  background-color: #1D2951;
}
.App{
  background-color: #0F52BA;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 30px;
}

#to-do-form input{
  background-color: #008081;
  border:0;
  width:200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size:18px;
  border-radius:10px;
  color:rgba(176, 223, 229, 1);
}

#to-do-form input::placeholder{
  color: rgba(176, 223, 229, 1);
}
#to-do-form input:focus,#to-do-form button:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width:80px;
  border-radius: 5px;
  border:0;
  background-color: #4682B4;
  cursor: pointer;
  font-weight: bolder;
  color:rgba(176, 223, 229, 1);
}

h1{
  color: rgba(176, 223, 229, 1);
}