.list{
    color: rgba(176, 223, 229, 1);;
    width: 300px;
    background-color: #6593F5;
    height:50px;
    margin: 20px auto;
    border-radius:10px;
}
.list p{
    padding: 10px;
    position: relative;
}
.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.faicons{
    margin: 0 5px;
    font-size: 15px;
}
.completed{
    text-decoration: line-through;
}